In [12]:
import pandas as pd
tabela = pd.read_csv("escola_acessivel1.csv")
display(tabela)

,TOTAL_REGISTOS,ESCOLA,INEP,ANO,VALOR_DESTINADO
0,1,CIEP 208 ALCEU AMOROSO LIMA,33049700,2019,"R$ 15.000,00"
1,1,EE PADRE ARLINDO IGNACIO DE OLIVEIRA,51089432,2019,"R$ 9.960,00"
2,1,EE PRESIDENTE TANCREDO DE ALMEIDA NEVES,31020265,2019,"R$ 12.000,00"
3,1,ESCOLA ESTADUAL SATURNINO MARAES NETO,13096656,2018,"R$ 15.000,00"
4,1,ESC EST ENS FUN GASTON AUGUSTO SANTOS CESAR CIEP,43171605,2019,"R$ 12.000,00"
...,...,...,...,...,...
10500,1,EE FREDERICO ZACARIAS,31031852,2019,"R$ 15.000,00"
10501,1,ESC EST ENS FUN LUIZ MOLLER FILHO,43152830,2019,"R$ 9.960,00"
10502,1,ESC EST ENS FUN WILLY OSCAR KONRATH,43145930,2019,"R$ 12.000,00"
10503,1,ESC ESTADUAL PEDRO ALMEIDA VALADARES,28025733,2019,"R$ 12.000,00"
10504,1,EE FRANCISCO MANUEL,31068276,2019,"R$ 12.000,00"

2-Escolas Acessíveis 2

In [13]:
import pandas as pd 
tabela =  pd.read_csv("escola_acessivel2.csv")
display(tabela)

,TOTAL_REGISTOS,ESCOLA,INEP,ANO,VALOR_DESTINADO
0,1,CIEP 208 ALCEU AMOROSO LIMA,33049700,2019,"R$ 15.000,00"
1,1,EE PADRE ARLINDO IGNACIO DE OLIVEIRA,51089432,2019,"R$ 9.960,00"
2,1,EE PRESIDENTE TANCREDO DE ALMEIDA NEVES,31020265,2019,"R$ 12.000,00"
3,1,ESCOLA ESTADUAL SATURNINO MARAES NETO,13096656,2018,"R$ 15.000,00"
4,1,ESC EST ENS FUN GASTON AUGUSTO SANTOS CESAR CIEP,43171605,2019,"R$ 12.000,00"
...,...,...,...,...,...
10500,1,EE FREDERICO ZACARIAS,31031852,2019,"R$ 15.000,00"
10501,1,ESC EST ENS FUN LUIZ MOLLER FILHO,43152830,2019,"R$ 9.960,00"
10502,1,ESC EST ENS FUN WILLY OSCAR KONRATH,43145930,2019,"R$ 12.000,00"
10503,1,ESC ESTADUAL PEDRO ALMEIDA VALADARES,28025733,2019,"R$ 12.000,00"
10504,1,EE FRANCISCO MANUEL,31068276,2019,"R$ 12.000,00"

In [16]:
import pandas as pd
tabela = pd.read_csv("escola_acessivel1.csv")
display(tabela)

,TOTAL_REGISTOS,ESCOLA,INEP,ANO,VALOR_DESTINADO
0,1,CIEP 208 ALCEU AMOROSO LIMA,33049700,2019,"R$ 15.000,00"
1,1,EE PADRE ARLINDO IGNACIO DE OLIVEIRA,51089432,2019,"R$ 9.960,00"
2,1,EE PRESIDENTE TANCREDO DE ALMEIDA NEVES,31020265,2019,"R$ 12.000,00"
3,1,ESCOLA ESTADUAL SATURNINO MARAES NETO,13096656,2018,"R$ 15.000,00"
4,1,ESC EST ENS FUN GASTON AUGUSTO SANTOS CESAR CIEP,43171605,2019,"R$ 12.000,00"
...,...,...,...,...,...
10500,1,EE FREDERICO ZACARIAS,31031852,2019,"R$ 15.000,00"
10501,1,ESC EST ENS FUN LUIZ MOLLER FILHO,43152830,2019,"R$ 9.960,00"
10502,1,ESC EST ENS FUN WILLY OSCAR KONRATH,43145930,2019,"R$ 12.000,00"
10503,1,ESC ESTADUAL PEDRO ALMEIDA VALADARES,28025733,2019,"R$ 12.000,00"
10504,1,EE FRANCISCO MANUEL,31068276,2019,"R$ 12.000,00"

In [ ]:
import matplotlib.pyplot as plt